.chart-text {
  font: 16px/1.4em "Montserrat", Arial, sans-serif;
  fill: #000;
  transform: translateY(0.25em);
}

.chart-number {
  font-size: 0.2em;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25em);
}