.chart-text {
  // font: 22px "Montserrat", Arial, sans-serif;
  // font: 16px/1.2em "Montserrat", Arial, sans-serif;
  fill: #000;
  transform: translateY(0.25em);
}

.chart-number,
.chart-item {
  font-size: 0.4em;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25em);
}

.chart-item {
  font-size: 0.2em;
}

.donut {
  min-width: 100px;
}