@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;500;600&family=Heebo:wght@200;300;400;500;600&display=swap");
.chart-text {
  fill: #000;
  transform: translateY(0.25em);
}

.chart-number,
.chart-item {
  font-size: 0.4em;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25em);
}

.chart-item {
  font-size: 0.2em;
}

.donut {
  min-width: 100px;
}

.temp-number {
  font-size: 0.2rem;
}

.barchart {
  max-height: 250px;
}

body {
  margin: 0;
  font-family: "Catamaran", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.weather {
  width: 55%;
  margin: 50px auto;
}

.subtitle {
  font-size: 20px;
}

.line {
  border-bottom: 1px solid #C4C4C4;
  margin: 30px 0;
}

.loading,
.city-not-found {
  font-size: 20px;
  text-align: center;
}

.country_list {
  margin-top: 50px;
  text-align: center;
  cursor: pointer;
}
.country_list :hover {
  color: #5773FF;
}
.country_list p {
  margin: 0;
  padding: 10px 0;
}

.section_one .city {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  margin-top: 3em;
}
.section_one .section_one_header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  font-size: 32px;
}
.section_one .section_one_header span {
  margin-right: 10px;
}
.section_one .section_one_header input {
  font-family: "Catamaran", sans-serif;
  font-size: 32px;
  border: none;
  width: 200px;
  height: 30px;
  border-bottom: 1px solid #000000;
  outline: none;
}

.section_one_content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section_one_content img {
  width: 72px;
}
.section_one_content .section_one_temp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_one_content .section_one_temp p {
  margin: 0;
}
.section_one_content .section_one_temp p:first-child {
  font-size: 2rem;
}

.section_two .section_two_content {
  display: flex;
  overflow-x: auto;
}
.section_two .section_two_content .section_two_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  margin-bottom: 30px;
}
.section_two .section_two_content .section_two_item img {
  width: 40px;
}
.section_two ::-webkit-scrollbar {
  height: 5px;
  background-color: #ffffff;
}
.section_two ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #EFF7FE;
}
.section_two ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9EADF5;
}

.section_three .section_three_content {
  display: flex;
  align-items: center;
}
.section_three .section_three_content p {
  margin-right: 20px;
}
.section_three .section_three_content button {
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  padding: 4px 20px;
  cursor: pointer;
}
.section_three .section_three_content button:hover {
  background-color: #5773FF;
  border-color: #5773FF;
  color: white;
}
.section_three .section_three_content .active {
  background-color: #5773FF;
  border-color: #5773FF;
  color: white;
}

@media only screen and (max-width: 310px) {
  .section_one_content {
    flex-direction: column;
  }
  .section_one_content img {
    width: 40px;
  }
}
@media only screen and (max-width: 450px) {
  .section_three .section_three_content {
    flex-direction: column;
    align-items: flex-start;
  }
  .section_three .section_three_content .subtitle {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 900px) {
  .weather {
    width: 85%;
  }
}

/*# sourceMappingURL=index.css.map */
