@use 'piechart';
@use 'barchart';

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;500;600&family=Heebo:wght@200;300;400;500;600&display=swap');

$font-size-header: 32px;
$font-size-subtitle: 20px;
$primary-color: #5773FF;
$grey: #C4C4C4;

body {
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.weather {
  width: 55%;
  margin: 50px auto;
}

.subtitle {
  font-size: $font-size-subtitle;
}

.line {
  border-bottom: 1px solid $grey; 
  margin: 30px 0; 
}

.loading,
.city-not-found {
  font-size: $font-size-subtitle;
  text-align: center;
}

// country list
.country_list {
  margin-top: 50px;
  text-align: center;
  cursor: pointer;
  
  :hover {
    color: $primary-color;
  }

  p {
    margin: 0;
    padding: 10px 0;
  }
}

.section_one {
  .city {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    margin-top: 3em;
  }

  .section_one_header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    font-size: $font-size-header;

    span {
      margin-right: 10px;
    }

    input {

       font-family:'Catamaran', sans-serif;
       font-size: $font-size-header;
       border: none;
       width: 200px;
       height: 30px;
       border-bottom: 1px solid #000000;
       outline: none;
    }
  }
}

.section_one_content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  img {
    width: 72px;
  }

  .section_one_temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    p {
      margin: 0;

      &:first-child {
        font-size: 2rem;
      }
    }
  }
}

.section_two {
  .section_two_content {
    display: flex;
    overflow-x: auto;
    
    .section_two_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 100px;
      margin-bottom: 30px;

      img {
        width: 40px;
      }
    }
  }
  ::-webkit-scrollbar {
    height: 5px;
    background-color: #ffffff;
  }

  ::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #EFF7FE;
    }
    
    ::-webkit-scrollbar-thumb {
      border-radius:10px;
      background-color: #9EADF5;
  }
}

.section_three {
  .section_three_content {
    display: flex;
    align-items: center;

    p {
      margin-right: 20px;
    }

    button {
      margin-right: 10px;
      background-color: transparent;
      border: 1px solid $grey;
      border-radius: 20px;
      padding: 4px 20px;
      cursor: pointer;
    }
    
    button:hover {
      background-color: $primary-color;
      border-color: $primary-color;
      color: white;
    }

    .active {
      background-color: $primary-color;
      border-color: $primary-color;
      color: white;
    }
  }
}

@media only screen and (max-width: 310px) {
  .section_one_content {
    flex-direction: column;

    img {
      width: 40px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .section_three {
    .section_three_content {
      flex-direction: column;
      align-items: flex-start;

      .subtitle {
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .weather {
    width: 85%;
  }
}